.login-box .login-logo {
	margin: 0 auto;
	margin-top: 60px;
	padding: 15px;
	text-align: center;
}

.login-page {
	background-color: #666 !important;
}

/* .login .content {
	width: 360px;
	margin: 0 auto;
	margin-bottom: 0px;
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.form-check-label {
	color: white;
}

.copyright {
	color: white;
	margin: 0 auto;
	margin-top: 5px;
	padding: 15px;
	text-align: center;
} */
